# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# Ignore local build directories and temporary files
/build/
/dist/
*.tmp
*.bak

# LabVIEW 202x Search indexes and help files
*.chm
*.p_chm

# DQMH Scripting / Unit Test temporary files
/src/Modules/*/Test/
